In [1]:
import io
import os
import regex

import eventlet
from eventlet.green.urllib import request

from sklearn import metrics
from sklearn.feature_extraction.text import  CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import make_pipeline, Pipeline

import numpy as np
import pandas as pd

In [2]:
#pobranie tresci ksiazki
book_files={
 "Mickiewicz": [
 "https://wolnelektury.pl/media/book/txt/pan-tadeusz.txt",
 "https://wolnelektury.pl/media/book/txt/dziady-dziady-widowisko-czesc-i.txt",
 "https://wolnelektury.pl/media/book/txt/dziady-dziadow-czesci-iii-ustep-do-przyjaciol-moskali.txt",
 "https://wolnelektury.pl/media/book/txt/ballady-i-romanse-pani-twardowska.txt",
 "https://wolnelektury.pl/media/book/txt/ballady-i-romanse-powrot-taty.txt",
 "https://wolnelektury.pl/media/book/txt/ballady-i-romanse-switez.txt",
 "https://wolnelektury.pl/media/book/txt/dziady-dziady-poema-dziady-czesc-iv.txt",
 ],
 "Sienkiewicz": [
 "https://wolnelektury.pl/media/book/txt/quo-vadis.txt",
 "https://wolnelektury.pl/media/book/txt/sienkiewicz-we-mgle.txt",
 "https://wolnelektury.pl/media/book/txt/potop-tom-pierwszy.txt",
 "https://wolnelektury.pl/media/book/txt/potop-tom-drugi.txt",
 "https://wolnelektury.pl/media/book/txt/potop-tom-trzeci.txt",
 ],
 "Orzeszkowa": [
 "https://wolnelektury.pl/media/book/txt/orzeszkowa-kto-winien.txt",
 "https://wolnelektury.pl/media/book/txt/nad-niemnem-tom-pierwszy.txt",
 "https://wolnelektury.pl/media/book/txt/nad-niemnem-tom-drugi.txt",
 "https://wolnelektury.pl/media/book/txt/nad-niemnem-tom-trzeci.txt",
 "https://wolnelektury.pl/media/book/txt/gloria-victis-dziwna-historia.txt",
 "https://wolnelektury.pl/media/book/txt/z-pozogi.txt",
 "https://wolnelektury.pl/media/book/txt/pani-dudkowa.txt",
 "https://wolnelektury.pl/media/book/txt/dymy.txt",
 "https://wolnelektury.pl/media/book/txt/syn-stolarza.txt",
 "https://wolnelektury.pl/media/book/txt/dobra-pani.txt",
 "https://wolnelektury.pl/media/book/txt/cnotliwi.txt",
 "https://wolnelektury.pl/media/book/txt/kilka-slow-o-kobietach.txt",
 "https://wolnelektury.pl/media/book/txt/patryotyzm-i-kosmopolityzm.txt",
 "https://wolnelektury.pl/media/book/txt/julianka.txt",
 ],
 "Prus": [
 "https://wolnelektury.pl/media/book/txt/lalka-tom-drugi.txt",
 "https://wolnelektury.pl/media/book/txt/lalka-tom-pierwszy.txt",
 "https://wolnelektury.pl/media/book/txt/antek.txt",
 "https://wolnelektury.pl/media/book/txt/katarynka.txt",
 "https://wolnelektury.pl/media/book/txt/prus-anielka.txt",
 "https://wolnelektury.pl/media/book/txt/prus-placowka.txt",
 
 ],
 "Reymont": [
 "https://wolnelektury.pl/media/book/txt/ziemia-obiecana-tom-pierwszy.txt",
 "https://wolnelektury.pl/media/book/txt/chlopi-czesc-pierwsza-jesien.txt",
 "https://wolnelektury.pl/media/book/txt/reymont-chlopi-zima.txt",
 "https://wolnelektury.pl/media/book/txt/chlopi-czesc-trzecia-wiosna.txt",
 "https://wolnelektury.pl/media/book/txt/chlopi-czesc-czwarta-lato.txt",
 ]
}

In [7]:
def fetch(url):
    file_path = os.path.join("./data/",os.path.basename(url))
    if os.path.exists(file_path):
        return None, None
    data = request.urlopen(url).read()
    return file_path, data

os.mkdir('data')

for author in book_files:
    pool = eventlet.GreenPool()
    
    for file_path, data in pool.imap(fetch, book_files[author]):
        if file_path:
            with open(file_path, mode="wb") as f:
                f.write(data)
print ("DONE")

DONE

In [8]:
def preprocess_file(file_path=None, file_url=None):
    if not file_path and file_url:
        file_path = os.path.join("data",os.path.basename(file_url))
        
    text = open(file_path,'rb').read().decode("utf-8").lower()

    text = regex.sub(u"[^ \n\p{Latin}\-'.?!]", " ",text)
    text = regex.sub(u"[ \n]+", " ", text) 
    text = regex.sub(r"----- ta lektura.*","", text) 

    return [regex.sub(r"^ ","",l) for l in regex.split('\.|,|\?|!|:',text)]


def get_book_df(document, author):
    return pd.DataFrame({
        'author': pd.Series(len(document)*[author]),
        'txt': pd.Series(document),
    })
    
book_lines_df = pd.concat([
    get_book_df(preprocess_file(file_url=url),author=author) 
        for author in book_files for url in book_files[author] 
])

book_lines_df.head()

       author                                                txt
0  Mickiewicz  adam mickiewicz pan tadeusz czyli ostatni zaja...
1  Mickiewicz                                      ojczyzno moja
2  Mickiewicz  ty jesteś jak zdrowie ile cię trzeba cenić ten...
3  Mickiewicz  dziś piękność twą w całej ozdobie widzę i opis...
4  Mickiewicz  panno święta co jasnej bronisz częstochowy i w...

In [9]:

book_lines_df.groupby('author').count()

               txt
author
Mickiewicz    5093
Orzeszkowa   22177
Prus         31033
Reymont      24107
Sienkiewicz  40381

In [10]:
book_lines_df['words'] = book_lines_df['txt'].apply(
    lambda x: len(x.split())
)
book_lines_df.groupby('author')['words'].describe()
#statystyka odnosnie wyrazow w zdaniu - ilosc - srednia - odchylenie

               count       mean        std  min  25%   50%   75%    max
author
Mickiewicz    5093.0  16.103868  13.951437  0.0  6.0  13.0  23.0  145.0
Orzeszkowa   22177.0  19.400821  17.257917  0.0  6.0  15.0  27.0  219.0
Prus         31033.0  12.131537  10.041450  0.0  5.0  10.0  17.0  133.0
Reymont      24107.0  16.359398  18.880965  0.0  5.0  10.0  21.0  316.0
Sienkiewicz  40381.0  13.705579  12.038426  0.0  5.0  10.0  19.0  146.0

In [11]:
book_lines_df.groupby('author')['words'].quantile(0.98)

author
Mickiewicz     54.0
Orzeszkowa     67.0
Prus           39.0
Reymont        72.0
Sienkiewicz    47.0
Name: words, dtype: float64

In [12]:
#usuniecie lini z zerowa iloscia wyrazow
book_lines_df=book_lines_df[~(book_lines_df['words']==0)]
book_lines_df.groupby('author')['words'].describe()

               count       mean        std  min  25%   50%   75%    max
author
Mickiewicz    5079.0  16.148258  13.944973  1.0  6.0  13.0  23.0  145.0
Orzeszkowa   22087.0  19.479875  17.248458  1.0  7.0  15.0  27.0  219.0
Prus         30941.0  12.167609  10.034522  1.0  5.0  10.0  17.0  133.0
Reymont      24079.0  16.378421  18.883692  1.0  5.0  10.0  21.0  316.0
Sienkiewicz  40258.0  13.747454  12.032905  1.0  5.0  10.0  19.0  146.0

In [13]:
#podzielenie zbioru na testowe i treningowe
train_df, test_df = train_test_split(book_lines_df,test_size=0.1,stratify=book_lines_df['author'],)

In [14]:
#kodowanie zdan na liczby
vectorizer = CountVectorizer()
vectorizer.fit(train_df['txt'])
sample_sentence = train_df.iloc[10]['txt']
print ("Extracting vector for sentence: '{}'".format(sample_sentence))
vectorizer.transform([sample_sentence])

Extracting vector for sentence: 'oni szukają jej także'

<1x131547 sparse matrix of type '<class 'numpy.int64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [16]:
#model regresji logistycznej
X_train=vectorizer.transform(train_df['txt'])
X_test=vectorizer.transform(test_df['txt'])
model = LogisticRegression(class_weight='balanced', dual=True)
model.fit(X_train, train_df['author'])

ValueError: Solver lbfgs supports only dual=False, got dual=True

In [17]:
#model regresji logistycznej
X_train=vectorizer.transform(train_df['txt'])
X_test=vectorizer.transform(test_df['txt'])
model = LogisticRegression(class_weight='balanced', dual=False)
model.fit(X_train, train_df['author'])

c:\users\polon\pycharmprojects\datascience\venv\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
#sprawdzenie jakosci modelu na danych testowych
model.score(X_test, test_df['author'])

0.7486320947325439

In [19]:
#sprawdzenie, jak model radzi sobie z rozpoznawaniem autora na podstawie dostarczonych probek
target = test_df['author']
predicted = model.predict(X_test)
print (metrics.classification_report(target, predicted, digits=4))

              precision    recall  f1-score   support

  Mickiewicz     0.4820    0.5807    0.5268       508
  Orzeszkowa     0.7300    0.7270    0.7285      2209
        Prus     0.7376    0.7069    0.7219      3094
     Reymont     0.7172    0.7637    0.7397      2408
 Sienkiewicz     0.8299    0.8048    0.8172      4026

    accuracy                         0.7486     12245
   macro avg     0.6994    0.7166    0.7068     12245
weighted avg     0.7520    0.7486    0.7498     12245